@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

* {
    font-family: 'Karla', sans-serif;
}

body {
    height: 100vh;
    background: hsl(204, 43%, 93%);
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 16px;
    font-weight: 400;
}

.layout {
    max-width: 635px;
    min-width: 310px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 20px -15px;
}

.grow {
    flex-grow: 1;
    padding: 0 40px;
}

.top {
    min-height: 195px;
    background: hsl(0, 0%, 100%);
    padding-top: 20px;
}

#top-heading {
    color: hsl(179, 62%, 43%);
    margin-bottom: 25px;
}

#top-description {
    color: hsl(71, 73%, 54%);
    margin-top: 0;
    margin-bottom: 15px;
}

#top-text {
    color: hsl(218, 22%, 67%);
    margin-top: 0;
    line-height: 1.6;
}

.lower-half {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.middle {
    height: 240px;
    background: hsl(179, 62%, 43%);
    padding-top: 20px;
}

#middle-heading {
    color: hsl(204, 43%, 93%);
    margin-bottom: 20px;
}

.price-tag {
    height: 36px;
    color: hsl(204, 43%, 93%);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-top: 0;
    margin-bottom: 10px;
}

#month {
    color: hsl(181, 71%, 79%);
}

#offer {
    color: hsl(204, 43%, 93%);
    margin-top: 0;
    margin-bottom: 32px;
}

#button {
    width: 100%;
    padding: 15px;
    border: 0;
    border-radius: 5px;
    background: hsl(71, 73%, 54%);
    color: hsl(204, 43%, 93%);
    margin-top: 0;
    font-weight: 700;
    font-size: 16px;
}

.bottom {
    height: 240px;
    background: hsl(179, 47%, 52%);
    padding-top: 20px;
}

#bottom-heading {
    color: hsl(204, 43%, 93%);
    margin-bottom: 20px;
}

#bottom-para {
    color: hsl(181, 71%, 79%);
    margin-top: 0px;
    line-height: 1.3;
}



@media screen and (max-width:621px) {
    .grow {
        padding: 20px;
    }
}

@media screen and (max-width:541px) {
    body {
        height: 100%;
    }
}